<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#">WARP Restaurants</a>
    </div>
</nav>

<div class="container">
    <div [style.margin-top.px]="10" class="row col-lg-12">
        <form class="form-inline" (ngSubmit)="search(radius.value, keyword.value)">
            <div class="form-group">
                <label for="radius">Radius</label>
                <input type="number" class="form-control" id="radius" #radius placeholder="in meters" max="50000" min="100" step="100" required>
            </div>

            <div class="form-group">
                <label for="keyword">Keyword (Optional)</label>
                <input type="text" class="form-control" id="keyword" #keyword placeholder="cruise for example">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- error msg if any -->
    <div [style.margin-top.px]="10" class="text-danger" *ngIf="errormsg">{{errormsg}}</div>
</div>

<div class="container">
    <!-- google map placeholder -->
    <div [style.margin-top.px]="10" id="map"></div>
</div>